@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}



.container{
    width:100%;
    min-height:100vh;
    background-color:#f3f5f8;
}
nav{
    display: flex;
    width:100%;
    justify-content: space-around;
    height:80px;
    line-height:80px;
    z-index:111;
   #background-color: rgb(205, 197, 197);
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color:#3d535f;
    letter-spacing: 3px;
    text-transform: uppercase;

}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin:0 15px;
}
.navItems li a{
    font-size: 25px;
    color:#3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,links a:hover{
color:#7f00ff;
}
.links a{
    font-size: 30px;
    color:#3d535f;
    margin:35px 10px;
}
.wrapper{
    display: flex;
    width:100%;
    height:calc(100vh -80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    margin-top: 10%;
}

.cols{
    width:50%;
}
.cols0{
    width:60%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 55px;
    font-weight: 200;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position:absolute;
    content:'';
    height:4px;
    width:45px;
    bottom:10px;
    background-color: #7f00ff;
}
h1{
    display: block;
    font-size: 3em;
    font-weight: 700;
    color:#3d535f;
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}
p{
    display: block;
    width:90%;
    font-size: 1.2em;
    color:#3d535f;
    
}
.btns{
    width:100%;
    position: relative;
    left:150px;
}
button{
    outline: none;
    border:none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 200;
    color:#fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin:40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    #box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}
button:hover{
    background-color: #7f00ff;
}
.imgbox{
    position: relative;
    width:100%;
    height:100%;
}

.imgbox #splash{
    position: absolute;
    
    left:60%;
    transform: translate(-50%, -50%) rotate(-180deg);
    width:200%;
    filter:saturate(200%);
    animation: example1 4s linear infinite;
}
@keyframes example1{
    50%{
        left:51%;
    }
}